<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragments/header.html :: head(title='Stylo-About')}"></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-first-section">
                <p>
                    The proverb of the pen being mightier than the sword could not be truer, especially considering how
                    these pens are made from the wood of a 250-year gunship! Made from the residual timber sourced from
                    the HMS Victory, a 104-gun British warship used in the Battle of Trafalgar in 1805, the pen was
                    created by Peter Sandford, a UK-based maker who managed to get his hands on the precious wood when
                    the gunship was being renovated.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <img src="/img/hms-1140*800.jpg" alt="hms-victory">
            </div>
        </div>

    </div>
</section>
<div th:replace="~{/fragments/footer.html :: foot}"></div>
</body>
</html>