<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragments/header.html :: head(title='Stylo-Add')}"></div>

<section>
    <div class="main_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="/add" method="POST">
                    <div class="edit_position text-style">
                        <p class="text-margin">Write product name:</p>
                        <input type="text" class="edit_name" name="name" required>
                    </div>
                    <div class="edit_position text-style">
                        <p class="text-margin">Link to product photo:</p>
                        <input type="text" name="image" required>
                    </div>
                    <div class="edit_position text-style">
                        <p class="text-margin">Write product price:</p>
                        <input type="number" step=".01" min="0" class="edit_price" name="price" required>
                    </div>
                    <div class="edit_position">
                        <button class="menu_button  add_button_style">
                            <i class="fas fa-plus menu-text"> Add</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</div>
<div th:replace="~{/fragments/footer.html :: foot}"></div>
</body>
</html>