<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{/fragments/header.html :: head(title='Stylo-Home')}"></div>

<div class="main_section">
    <div class="section first-section">
        <div class="container slider-container">
            <div class="row slider">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="/img/showcase.png">
                            <div class="carousel-caption d-none d-md-block slogan-slider">
                                <p>Write your own history</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-none d-md-block item-text">
                                <h3 class="title-bold">Pens with history</h3>
                                <p class="slider-info">The classically-designed pens from the series victory possess
                                    immense historic relevance, being a part of a warship that molded the course of
                                    history, establishing Britain`s naval dominance for centuries.</p>
                            </div>
                            <div class="item-image">
                                <img class="d-block w-100" src="/img/victory-right.jpg" alt="Second slide">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-none d-md-block item-text">
                                <h3 class="title-bold">Victory-1765</h3>
                                <p class="slider-info">Imagine holding in your hand a piece of naval history. A piece of
                                    not only the world`s most famous wooden warship (HMS Victory) but also the world`s
                                    oldest naval ship still in commission.</p>
                            </div>
                            <div class="item-image">
                                <img class="d-block w-100" src="/img/vicktory-pen-1140.jpg" alt="Third slide">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-none d-md-block item-text">
                                <h3 class="title-bold">USS North Carolina</h3>
                                <p class="slider-info">The USS North Carolina was commissioned in New York City on 9
                                    April 1941. She was the first of the US Navy`s fast, heavily armed battleships to be
                                    commissioned.She took part in every major naval offensive in the Pacific Theater of
                                    Operations to become the most highly decorated American battleship of World War II,
                                    accumulating 15 battle stars.</p>
                            </div>
                            <div class="item-image">
                                <img class="d-block w-100" src="/img/lincore-carolina-1140.jpg" alt="Fourth slide">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-none d-md-block item-text">
                                <h3 class="title-bold">USS Glory-1941</h3>
                                <p class="slider-info">Pen made from the teak decking of the USS North Carolina that was
                                    carefully hand-cut into pen blanks.</p>
                            </div>
                            <div class="item-image">
                                <img class="d-block w-100" src="/img/Pen-1140-740.jpg" alt="Fifth slide">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-none d-md-block item-text">
                                <h3 class="title-bold">The Civil War - The Battle of Gettysburg</h3>
                                <p class="slider-info">On that memorable day in November 1863 when President Abraham
                                    Lincoln, our nation`s 16th president, delivered his historic Gettysburg Address at
                                    the dedication of the Soldiers National Cemetary - now known as Gettysburg National
                                    Cemetary - a honey locust tree stood as a "silent witness" near the speakers
                                    platform. That tree was also witness to the Battle of Gettysburg that had taken
                                    place during those three momentus days in July.</p>
                            </div>
                            <div class="item-image">
                                <img class="d-block w-100" src="/img/gettynsberge-1140.jpg" alt="Sixth slide">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-none d-md-block item-text">
                                <h3 class="title-bold">Gettysburg-1863</h3>
                                <p class="slider-info">Our Civil War pens are created with pieces from this tree and
                                    include a certificate of authenticity from Gettysburg. Own a piece of American
                                    history.</p>
                            </div>
                            <div class="item-image">
                                <img class="d-block w-100" src="/img/Pen-11-1140.jpg" alt="Sixth slide">
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="section third-section">
        <div class="container catalog">
            <div class="row">
                <div class="col-lg-12  catalog__header">
                    <h2 class="catalog__header_h2">Catalog</h2>
                </div>
            </div>
            <div class="row">
                <div th:each="product, state : ${products}">
                    <div th:replace="~{/fragments/position.html :: position(${product.id}, ${product.name},
                    ${product.image}, ${product.price})}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{/fragments/footer.html :: foot}"></div>
</body>
</html>



