<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="edit-product(id, name, img, price)">
    <div class="edit-form">
        <form action="/edit" method="POST">
            <div class="edit-form__name name">
                <input class="name__input" name="name" th:value="${name}" required>
            </div>
            <div class="edit-form__image">
                <img class="position__image" th:src="${img}" alt="No photo"/>
            </div>
            <div class="edit-form__link link">
                <p>Link to new product photo:</p>
                <input class="link__input" type="text" name="image" th:value="${img}">
            </div>
            <div class="edit-form__price price">
                <input class="price__input" type="number" step=".01" min="0" name="price" th:value="${price}" required>
            </div>
            <div class="edit-form__button">
                <button class="position__button">
                    <input type="hidden" name="id" th:value="${id}">
                    <i class="fas fa-edit menu-text"> Edit</i>
                </button>
            </div>
        </form>
    </div>
</th:block>
