<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="foot">

    <footer class="footer">
        <div class="section">
            <div class="footer-block">
                <div class="footer-block__first-row first-row">
                    <h2 class="first-row__header">
                        Keep in touch with us
                    </h2>
                    <p class="first-row__text">
                        Friends, we are always glad to receive feedback!
                        Leave your comments, feedback, wishes and suggestions and we will definitely listen and
                        take them into account. We work and grow stronger together.
                    </p>
                </div>
                <div class="footer-block__second-row second-row">
                    <div class="second-row__icons icons">
                        <div class="icons__item">
                            <a href="https://www.facebook.com/stylomusic1/">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </div>
                        <div class="icons__item">
                            <a href="https://www.instagram.com/stylopk/">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <div class="icons__item">
                            <a href="https://twitter.com/official_stylo?lang=ru">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer-block__third-row third-row">
                    <div class="third-row__credits credits">
                        <p class="credits__item">STYLO LTD</p>
                        <p class="credits__item">28, Khreschatik Str</p>
                        <p class="credits__item">Kyiv, Ukraine</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</th:block>
