<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="foot">
    <footer class="footer">
        <section id="touch" class="touch">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div>
                            <h2 class="footer_header">
                                Keep in touch with us
                            </h2>
                            <p class="footer-text">
                                Friends, we are always glad to receive feedback!
                                Leave your comments, feedback, wishes and suggestions and we will definitely listen and
                                take them into account. We work and grow stronger together.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col">
                        <ul class="icons d-flex">
                            <li class="icons__item">
                                <a href="https://www.facebook.com/stylomusic1/">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="icons__item">
                                <a href="https://www.instagram.com/stylopk/">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li class="icons__item">
                                <a href="https://twitter.com/official_stylo?lang=ru">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="credits">
                            STYLO LTD <br>
                            28, Khreschatik Str <br>
                            Kyiv, Ukraine
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</th:block>