<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="view-position(id, name, img, price)">

    <div class="col-lg-12">

        <div class="position__name edit_position">
            <p th:text="${name}">Name</p>
        </div>
        <div class="edit_position">
            <img class="position__image" th:src="${img}" alt="No photo"/>
        </div>
        <div class="edit_position">
            <form action="/view" method="GET">
                <button class="position__button">
                    <input type="hidden" name="id" th:value="${id}">
                    <i href="#" class="color-white" th:text="${'Buy for ' + price + '$'}">Price</i>
                </button>
            </form>
        </div>

        <div class="edit_block">
            <ul class="menu d-flex justify-content-center">
                <li class="edit-item">
                    <form action="/edit" method="GET">
                        <button class="menu_button">
                            <input type="hidden" name="id" th:value="${id}">
                            <i class="fas fa-edit menu-text"> Edit</i>
                        </button>
                    </form>
                </li>
                <li class="edit_item">
                    <form action="/delete" method="POST">
                        <button class="menu_button">
                            <input type="hidden" name="id" th:value="${id}">
                            <i class="fas fa-trash menu-text"> Delete</i>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</th:block>