a {
    color: white;
}

.wrapper {
    min-height: 100%;
}

/*HEADER*/
.header {
    background: url("../img/wheel-2k.jpg");
    border-bottom: 5px solid white;
}

.section {
    max-width: 1180px;
    min-height: 350px;
    margin: 0 auto;
    text-align: center;
}

.header-block {
    display: inline-flex;
    flex-direction: column;
    margin: 120px 0 0 0;
}

.header-block__slogan {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding: 5px 0 5px 50px;
    font-family: Niconne, sans-serif;
    font-size: 25px;
}

.header-block__menu {
    display: inline-flex;
    align-items: center;
}

.menu__logo {
    padding: 10px;
    flex: 1 1 auto;
}

.menu__search {
    padding-left: 15px;
}

.search__input {
    padding-left: 10px;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    opacity: 0.6;
    border: 2px solid black;
    border-radius: 10px;
    align-items: center;
    flex: 1 1 auto;
    height: 45px;
    width: 300px;
}

.search__button {
    height: 50px;
    background: #33cccc;
    padding: 13px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 10px;
    margin-left: 5px;
}

.search input:hover {
    color: black;
}

.menu__items {
    display: flex;
    padding: 0 10px 0 80px;
}

.items__item {
    padding-left: 10px;
}

.items__item a:hover {
    color: black;
}

.header-button {
    width: 120px;
    height: 45px;
    background: #33cccc;
    padding: 13px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 10px;
}

/*HOME-BODY*/
.center {
    background: url("../img/beach-last-last.jpg");
    min-height: 1000px;
}

.center__rows {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

/*Slider*/
.center__slider {
    border: 5px solid white;
    padding: 40px;
    height: 1053px;
}

.slider__slogan {
    text-align: center;
    font-family: Niconne, sans-serif;
    font-size: 50px;
}

.slider__block {
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    height: 280px;
    width: 1050px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid white;
}

.block__title {
    font-weight: bold;
    font-size: 30px;
    margin-top: 5px;
}

.block__text {
    padding: 10px;
    font-size: 25px;
    text-align: justify;
}

.slider__image {
    width: 1050px;
    height: 682px;
    border: 2px solid white;
}

/*Catalog*/
.center__catalog {
    border: 5px solid white;
    margin: 20px 0 10px 0;
    padding: 40px;
    text-align: center;
}

.catalog__header {
    text-align: center;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 46px;
}

.catalog__item {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
}

/*Catalog-position*/
.position {
    margin: 10px 0 15px 33px;
}

.position__name {
    margin-bottom: 5px;
    width: 300px;
    font-size: 35px;
    font-family: Niconne, sans-serif;
    text-align: center;
    border: 1px solid white;
    color: white;
    padding: 5px;
}

.position__image {
    width: 100%;
    text-align: center;
}

.position__image img {
    max-width: 300px;
    height: 300px;
}

.position__image_border {
    border: 1px solid white;
}

.position__button {
    display: block;
    width: 180px;
    height: 50px;
    background-color: rgba(51, 204, 204, 0.7);
    padding: 13px;
    margin: 5px 60px 0 60px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: ghostwhite;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
}

.position__button a:hover {
    text-decoration: none;
    color: black;
}

.position__button i:hover {
    text-decoration: none;
    color: black;
}

/*FOOTER*/
.footer {
    border: 5px solid white;
    background: url("../img/ocean-new.jpg");
}

.footer-block {
    display: inline-flex;
    flex-direction: column;
}

.first-row__header {
    padding: 5px;
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 40px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(51, 204, 204, 0.7);
}

.first-row__text {
    padding: 5px;
    text-align: center;
    color: white;
    font-size: 23px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(51, 204, 204, 0.7);
}

.footer-block__second-row {
    margin: 10px 0 10px 0;
    padding-top: 5px;
}

.second-row__icons {
    display: flex;
    justify-content: center;
}

.icons__item {
    padding: 0 20px 5px 20px;
}

.icons__item a {
    color: white;
    font-size: 42px;
    transition: all 0.3s ease;
}

.icons__item a:hover {
    text-decoration: none;
    color: #03ffff;
}

.third-row__credits {
    text-align: center;
    color: white;
    font-size: 30px;
}

.credits__item {
    margin-bottom: 5px;
}

/*View, View position*/
.view-body {
    background: url("../img/beach-last-last.jpg");
    text-align: center;
}

.view-block {
    display: inline-flex;
    flex-direction: column;
}

.view-block__name {
    align-self: center;
    margin: 5px;
}

.view-block__button {
    align-self: center;
    margin: 5px;
}

.view-block__button a:hover {
    text-decoration: none;
    color: black;
}

.view-block__image {
}

.view-block__buttons {
    display: flex;
    margin: 5px;
}

.view-block__buttons a:hover {
    text-decoration: none;
    color: black;
}

.position__button-view {
    display: block;
    width: 180px;
    height: 50px;
    background-color: rgba(51, 204, 204, 0.7);
    margin: 1px;
    padding: 13px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: ghostwhite;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
}

.position__button-view a:hover {
    text-decoration: none;
    color: black;
}

.position__button-view i:hover {
    color: red;
}

/*Edit-product*/
.edit-block {
    background: url("../img/beach-last-last.jpg");
    text-align: center;
}

.edit-form {
    display: inline-flex;
    flex-direction: column;
    margin-top: 10px;
}

.name__input {
    margin-bottom: 5px;
    width: 300px;
    font-size: 30px;
    font-family: Niconne, sans-serif;
    text-align: center;
    border: 1px solid black;
    color: black;
}

.edit-form__image {
    margin-top: 10px;
}

.edit-form__link {
    margin-top: 10px;
    font-size: 25px;
}

.link__input {
    border: 1px solid black;
    border-radius: 10px;
    width: 100%;
    font-size: 20px;
    height: 40px;
}

.price__input {
    width: 180px;
    height: 45px;
    background-color: ghostwhite;
    padding: 5px;
    margin: 5px 60px 0 60px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
}

.edit-form__button {
    margin-bottom: 10px;
}

/*Add product*/
.add-body {
    background: url("../img/beach-last-last.jpg");
    text-align: center;
}

.add-form {
    display: inline-flex;
    flex-direction: column;
    margin-top: 10px;
    background-color: rgba(51, 204, 204, 0.7);
    align-items: center;
    text-align: center;
}

.add-form__name, .add-form__link, .add-form__price {
    font-size: 25px;
    /*    font-weight: bold;*/
    padding: 10px;

}

.link__title, .name__title, .price__title {
    margin-bottom: 5px;
}

.name__input-add {
    width: 300px;
    font-size: 30px;
    font-family: Niconne, sans-serif;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
}

.button {
    align-self: center;
}

/*Search*/
.search-body {
    background: url("../img/beach-last-last.jpg");
}

.search-form {
    display: flex;
    justify-content: center;
}

.search-form__message {
    font-size: 40px;
    background-color: rgba(51, 204, 204, 0.7);
}

/*Error*/
.error-body {
    background: url("../img/beach-last-last.jpg");
}

.error-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.error-form__text {
    font-size: 40px;
    background-color: rgba(51, 204, 204, 0.7);
}














