<?xml version="1.0" encoding="UTF-8" ?>

<web-app>
    <listener>
        <listener-class>com.glushkov.shop.web.listener.ThymeleafInitializerListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.glushkov.shop.web.servlet.AddProductServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AllProductsServlet</servlet-name>
        <servlet-class>com.glushkov.shop.web.servlet.AllProductsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>com.glushkov.shop.web.servlet.DeleteProductServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>com.glushkov.shop.web.servlet.EditProductServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>com.glushkov.shop.web.servlet.SearchProductServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ViewProductServlet</servlet-name>
        <servlet-class>com.glushkov.shop.web.servlet.ViewProductServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.glushkov.shop.web.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AllProductsServlet</servlet-name>
        <url-pattern>/home</url-pattern>
        <url-pattern></url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/edit/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ViewProductServlet</servlet-name>
        <url-pattern>/view/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <error-page>
        <location>/static/error.html</location>
    </error-page>
</web-app>